certifi==2019.11.28
chardet==3.0.4
cycler==0.10.0
idna==2.7
matplotlib==1.5.1
numpy==1.11.0
pyparsing==2.1.1
python-dateutil==2.5.2
pytz==2016.3
requests==2.20.0
six==1.10.0
urllib3==1.24.3
virtualenv==15.0.1
